html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

#container {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#head {
	height: 10%;
	width: 100%;
	background-color: #615a5a;
}

#head noti {
	font-size: 22px;
	color: white;
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",
		"Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
	margin-left: 2%;
	margin-bottom: 6%;
	position: relative;
	height: 100%;
	bottom: 25px
}

#body {
	height: 85%;
	width: 100%;
	background-color: #ecefec;
}

#text {
	height: 40%;
	width: 100%;
}

#services {
	height: 60%;
	width: 100%;
}

#sec1 {
	height: 100%;
	width: 50%;
	float: left;
	background-color: #f9ebf7;
	font-family: cursive;
}

#sec2 {
	height: 100%;
	width: 50%;
	float: right;
}

.mySlides {
	display: none;
}

#slides {
	height: 100%;
	width: 100%;
}

#footer {
	height: 10%;
	width: 100%;
	background-color: #9fa59f;
}

#footer  f {
	font-size: 12px;
	float: right;
	margin-right: 18px;
	margin-top: 5px;
	font-family: "Segoe UI", "Segoe UI Web Regular", "Segoe UI Symbol",
		"Helvetica Neue", "BBAlpha Sans", "S60 Sans", Arial, sans-serif;
	font-weight: 500;
}

#iconImage {
	border-radius: 50%;
	height: 100%;
	width: 5%;
	padding-left: 1%;
}

#para {
	font-size: 17px;
	color: #255296;
	font-weight: 600;
	text-align: left;
}

ul {
	color: #2da257;
	font-weight: 600;
}

#marque {
	color: #ff8e8e;
	font-family: cursive;
}

#contactUs {
	height: 25px;
	float: right;
	margin-top: 18px;
	margin-right: 24px;
}

.myImages {
	height: 100%;
	width: 100%
}

#img1 {
	float: left;
	padding-left: 4px;
	height: 100%;
	width: 100%;
}

#quotes {
	position: absolute;
	color: purple;
	font-weight: 600;
	font-size: 22px;
	font-family: cursive;
	margin-top: 2%;
	margin-left: 4%;
}

#extension {
	position: absolute;
	color: purple;
	font-weight: 600;
	font-size: 22px;
	font-family: cursive;
	margin-top: 6%;
	margin-left: 50%;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	background-color: #efd2e6;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
	height: 60%;
}

/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #040404;
	text-decoration: none;
	cursor: pointer;
}

#dialogHeader {
	height: 10%;
	width: 100%;
	font-size: 18px;
	font-family: cursive;
	color: purple;
	padding-left: 40%;
}

#dialogContent: {
	height: 80%;
	width: 100%;
	font-family: cursive;
	color: green;
}

#typistt {
	border-radius: 80%;
	height: 100%;
	width: 10%;
	margin-left: 42%;
	margin-top: 2%;
}

#dialogFooter {
	height: 10%;
	width: 100%;
}

#dContent{
	font-family:cursive;
	color:red;
}